.shirt-details form {
    margin-left: 0;
}

form[method="post"] {
    width: 375px; 
    margin: 34px auto;
    @media (max-width: 400px) {
        width: 340px;
    }
}

form tr {
    border: 1px solid #CCC;
    background: #f4f3f2;
}

form table {
    width: 375px; 
    margin-bottom: 16px;
    @media (max-width: 400px) {
        width: 340px;
    }
}

form th {
    width: 85px;
    border-right: 1px solid #CCC;
    vertical-align: middle;
    padding: 8px;
}

form td {
    padding: 15px 15px;
}

form td select,
form td input,
form td textarea {
    width: 100%;
}

textarea {
    height: 100px;
}

input[type="submit"], .ip-contact {
    width: 100%;
    text-align: center;
    border: 1px solid #8e8e46;
    background: #555;
    color: #FFF;
    -webkit-border-radius: 2px;
    border-radius: 2px;    
    font-size: 14px;
    text-transform: uppercase;
    padding: 14px;
    @media (max-width: 400px) {
        width: 340px;
    }
}


.contact-thanks {
    text-align: center;
    border: 1px solid #eee;
    background: #555;
    color: #FFF !important;
    -webkit-border-radius: 2px;
    border-radius: 2px;    
    text-transform: uppercase;
    padding: 14px;
    padding: 10px;
    a {
        color: #fff;
        text-decoration: none;
        margin-left: 50% !important; 
        text-align: center;
    }
    width: 100%;
    -webkit-border-radius: 2px;
    border-radius: 2px;    
    font-size: 14px;
    text-transform: uppercase;
    padding: 14px;
}


.thank-you-text {
    text-align: center;
}

.ip-contact {
    text-align: center;
    border: 1px solid #8e8e46;
    background: #555;
    color: #FFF !important;
    -webkit-border-radius: 2px;
    border-radius: 2px;    
    font-size: 14px;
    text-transform: uppercase;
    padding: 14px;
    margin-top: 1em;
    @media (max-width: 400px) {
        width: 340px;
    }
    width: 30% !important;
    padding: 10px;
    float: right;
    a {
        color: #fff;
        text-decoration: none;
    }
}

.contact-text-sm {
    font-size: .9em;
}


